# Virtual environment
.venv/
venv/
env/
pyvenv.cfg

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python fdf
*.egg-info/
*.egg
dist/
build/

# Environment & secrets
.env
.env.local
.env.*.local

# Logs
logs/*.log

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
